
.viewport{
    height:100vh;
    width: 100%;
    top:0px;
    left:0px;
    background-color:lightblue;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}

.row{
    width:100%;
    height:33.3333vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:rosybrown;
}

.buttons{
    width:100%;
}